<header>
  <nav>
      <div class="row">
          <img src="/assets/img/1logo-white.png" alt="omnifood logo" class="logo">
          <ul class="main-nav">
              <li><a [routerLink]="['/userDashboardPage']">Dashboard</a></li>
              <li><a [routerLink]="['/userProfilePage']">Profile</a></li>
              <li><a [routerLink]="['/userSearchFlightsPage']">Flights</a></li>
              <li><a [routerLink]="['/userBookingsPage']">Bookings</a></li>
              <li><a [routerLink]="['/userCancellationsPage']">Cancellations</a></li>
              <li><a [routerLink]="['/userWalletPage']">Wallet</a></li>
              <li><a [routerLink]="['/homePage']" href="javascript:void(0);" (click)="logout()">Logout</a></li>
          </ul>
      </div>
    </nav>
</header>
<br>
<br>
<br>
<br>

<h2>Seat/s Selection</h2>

<div class="plane">
  <div class="cockpit">
    <h1>Please select a seat</h1>
  </div>
  <div class="exit exit--front fuselage">
    
  </div>
  <ol class="cabin fuselage">
    <li class="row row--1">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="1A" />
          <label for="1A">1A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="1B" />
          <label for="1B">1B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="1C" />
          <label for="1C">1C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="1D" />
          <label for="1D">1D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="1E" />
          <label for="1E">1E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="1F" />
          <label for="1F">1F</label>
        </li>
      </ol>
    </li>
    <li class="row row--2">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="2A" />
          <label for="2A">2A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="2B" />
          <label for="2B">2B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="2C" />
          <label for="2C">2C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="2D" />
          <label for="2D">2D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="2E" />
          <label for="2E">2E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="2F" />
          <label for="2F">2F</label>
        </li>
      </ol>
    </li>
    <li class="row row--3">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="3A" />
          <label for="3A">3A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="3B" />
          <label for="3B">3B</label>
        </li>
        <li class="seat">
          <input type="checkbox"(click)="checked()" id="3C" />
          <label for="3C">3C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="3D" />
          <label for="3D">3D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="3E" />
          <label for="3E">3E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="3F" />
          <label for="3F">3F</label>
        </li>
      </ol>
    </li>
    <li class="row row--4">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="4A" />
          <label for="4A">4A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="4B" />
          <label for="4B">4B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="4C" />
          <label for="4C">4C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="4D" />
          <label for="4D">4D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="4E" />
          <label for="4E">4E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="4F" />
          <label for="4F">4F</label>
        </li>
      </ol>
    </li>
    <li class="row row--5">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="5A" />
          <label for="5A">5A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="5B" />
          <label for="5B">5B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="5C" />
          <label for="5C">5C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="5D" />
          <label for="5D">5D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="5E" />
          <label for="5E">5E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="5F" />
          <label for="5F">5F</label>
        </li>
      </ol>
    </li>
    <li class="row row--6">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="6A" />
          <label for="6A">6A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="6B" />
          <label for="6B">6B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="6C" />
          <label for="6C">6C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="6D" />
          <label for="6D">6D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="6E" />
          <label for="6E">6E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="6F" />
          <label for="6F">6F</label>
        </li>
      </ol>
    </li>
    <li class="row row--7">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="7A" />
          <label for="7A">7A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="7B" />
          <label for="7B">7B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="7C" />
          <label for="7C">7C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="7D" />
          <label for="7D">7D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="7E" />
          <label for="7E">7E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="7F" />
          <label for="7F">7F</label>
        </li>
      </ol>
    </li>
    <li class="row row--8">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="8A" />
          <label for="8A">8A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="8B" />
          <label for="8B">8B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="8C" />
          <label for="8C">8C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="8D" />
          <label for="8D">8D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="8E" />
          <label for="8E">8E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="8F" />
          <label for="8F">8F</label>
        </li>
      </ol>
    </li>

    <div class="exit exit--back fuselage"></div>

    <li class="row row--9">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="9A" />
          <label for="9A">9A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="9B" />
          <label for="9B">9B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="9C" />
          <label for="9C">9C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="9D" />
          <label for="9D">9D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="9E" />
          <label for="9E">9E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="9F" />
          <label for="9F">9F</label>
        </li>
      </ol>
    </li>
    <li class="row row--10">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="10A" />
          <label for="10A">10A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="10B" />
          <label for="10B">10B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="10C" />
          <label for="10C">10C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="10D" />
          <label for="10D">10D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="10E" />
          <label for="10E">10E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="10F" />
          <label for="10F">10F</label>
        </li>
      </ol>
    </li>
    <li class="row row--11">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="11A" />
          <label for="11A">11A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="11B" />
          <label for="11B">11B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="11C" />
          <label for="11C">11C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="11D" />
          <label for="11D">11D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="11E" />
          <label for="11E">11E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="11F" />
          <label for="11F">11F</label>
        </li>
      </ol>
    </li>

    <li class="row row--12">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="12A" />
          <label for="12A">12A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="12B" />
          <label for="12B">12B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="12C" />
          <label for="12C">12C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="12D" />
          <label for="12D">12D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="12E" />
          <label for="12E">12E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="12F" />
          <label for="12F">12F</label>
        </li>
      </ol>
    </li>

    <li class="row row--13">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="13A" />
          <label for="13A">13A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="13B" />
          <label for="13B">13B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="13C" />
          <label for="13C">13C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="13D" />
          <label for="13D">13D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="13E" />
          <label for="13E">13E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="13F" />
          <label for="13F">13F</label>
        </li>
      </ol>
    </li>
    <li class="row row--14">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="14A" />
          <label for="14A">14A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="14B" />
          <label for="14B">14B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="14C" />
          <label for="14C">14C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="14D" />
          <label for="14D">14D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="14E" />
          <label for="14E">14E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="14F" />
          <label for="14F">14F</label>
        </li>
      </ol>
    </li>
    <li class="row row--15">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="15A" />
          <label for="15A">15A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="15B" />
          <label for="15B">15B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="15C" />
          <label for="15C">15C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="15D" />
          <label for="15D">15D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="15E" />
          <label for="15E">15E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="15F" />
          <label for="15F">15F</label>
        </li>
      </ol>
    </li>
    <li class="row row--16">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="16A" />
          <label for="16A">16A</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="16B" />
          <label for="16B">16B</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="16C" />
          <label for="16C">16C</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="16D" />
          <label for="16D">16D</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="16E" />
          <label for="16E">16E</label>
        </li>
        <li class="seat">
          <input type="checkbox" (click)="checked()" id="16F" />
          <label for="16F">16F</label>
        </li>
      </ol>
    </li>

  </ol>
  <div class="exit exit--back fuselage">
    
  </div>
  <button type="submit" (click)="bookseats()" id="selectSeats">Go to payment</button>
</div>





<!-- <div class="flight-container">
  <label>Select a Class Type</label>
  <select id="flight">
    <option value="2500">Economy (Rs 2500)</option>
    <option value="9000">Business (Rs 9000)</option>
  </select>
</div>


  <ul class="showcase">
    <li>
      <div class="seat"></div>
      <small>N/A</small>
    </li>
    <li>
      <div class="seat selected"></div>
      <small>Selected</small>
    </li>
    <li>
      <div class="seat occupied"></div>
      <small>Occupied</small>
    </li>
  </ul>

  <br>
  <br>

  <div class="container">

    <div class="screen" style="color: royalblue;">EXIT<div class="space" style="float: right;">EXIT</div></div>
    

    <div class="row">
      <div class="seat">1A</div>
      <div class="seat">1B</div>
      <div class="seat">1C</div>
      <div class="space"></div>
      <div class="seat">1D</div>
      <div class="seat">1E</div>
      <div class="seat">1F</div>
    </div>

    <div class="row">
        <div class="seat">2A</div>
        <div class="seat">2B</div>
        <div class="seat">2C</div>
        <div class="space"></div>
        <div class="seat">2D</div>
        <div class="seat">2E</div>
        <div class="seat">2F</div>
      </div>

      <div class="row">
        <div class="seat">3A</div>
        <div class="seat">3B</div>
        <div class="seat">3C</div>
        <div class="space"></div>
        <div class="seat">3D</div>
        <div class="seat">3E</div>
        <div class="seat">3F</div>
      </div>

      <div class="row">
        <div class="seat">4A</div>
        <div class="seat">4B</div>
        <div class="seat">4C</div>
        <div class="space"></div>
        <div class="seat">4D</div>
        <div class="seat">4E</div>
        <div class="seat">4F</div>
      </div>

      <div class="row">
        <div class="seat">5A</div>
        <div class="seat">5B</div>
        <div class="seat">5C</div>
        <div class="space"></div>
        <div class="seat">5D</div>
        <div class="seat">5E</div>
        <div class="seat">5F</div>
      </div>

      <div class="row">
        <div class="seat">6A</div>
        <div class="seat">6B</div>
        <div class="seat">6C</div>
        <div class="space"></div>
        <div class="seat">6D</div>
        <div class="seat">6E</div>
        <div class="seat">6F</div>
      </div>

      <div class="row">
        <div class="seat">7A</div>
        <div class="seat">7B</div>
        <div class="seat">7C</div>
        <div class="space"></div>
        <div class="seat">7D</div>
        <div class="seat">7E</div>
        <div class="seat">7F</div>
      </div>

      <div class="row">
        <div class="seat">8A</div>
        <div class="seat">8B</div>
        <div class="seat">8C</div>
        <div class="space"></div>
        <div class="seat">8D</div>
        <div class="seat">8E</div>
        <div class="seat">8F</div>
      </div>

      <div class="row">
        <div class="seat">9A</div>
        <div class="seat">9B</div>
        <div class="seat">9C</div>
        <div class="space"></div>
        <div class="seat">9D</div>
        <div class="seat">9E</div>
        <div class="seat">9F</div>
      </div>

      <div class="row">
        <div class="seat">10A</div>
        <div class="seat">10B</div>
        <div class="seat">10C</div>
        <div class="space"></div>
        <div class="seat">10D</div>
        <div class="seat">10E</div>
        <div class="seat">10F</div>
      </div>

 
    <div class="screen" style="color: red;font-size: small;">EMERGENCY EXIT<div  style="float: right;">EMERGENCY EXIT</div> </div>


      <div class="row">
        <div class="seat">11A</div>
        <div class="seat">11B</div>
        <div class="seat">11C</div>
        <div class="space"></div>
        <div class="seat">11D</div>
        <div class="seat">11E</div>
        <div class="seat">11F</div>
      </div>

      <div class="row">
        <div class="seat">12A</div>
        <div class="seat">12B</div>
        <div class="seat">12C</div>
        <div class="space"></div>
        <div class="seat">12D</div>
        <div class="seat">12E</div>
        <div class="seat">12F</div>
      </div>

      <div class="row">
        <div class="seat">13A</div>
        <div class="seat">13B</div>
        <div class="seat">13C</div>
        <div class="space"></div>
        <div class="seat">13D</div>
        <div class="seat">13E</div>
        <div class="seat">13F</div>
      </div>

      <div class="row">
        <div class="seat">14A</div>
        <div class="seat">14B</div>
        <div class="seat">14C</div>
        <div class="space"></div>
        <div class="seat">14D</div>
        <div class="seat">14E</div>
        <div class="seat">14F</div>
      </div>

      <div class="row">
        <div class="seat">15A</div>
        <div class="seat">15B</div>
        <div class="seat">15C</div>
        <div class="space"></div>
        <div class="seat">15D</div>
        <div class="seat">15E</div>
        <div class="seat">15F</div>
      </div>

      <div class="row">
        <div class="seat">16A</div>
        <div class="seat">16B</div>
        <div class="seat">16C</div>
        <div class="space"></div>
        <div class="seat">16D</div>
        <div class="seat">16E</div>
        <div class="seat">16F</div>
      </div>

      <div class="row">
        <div class="seat">17A</div>
        <div class="seat">17B</div>
        <div class="seat">17C</div>
        <div class="space"></div>
        <div class="seat">17D</div>
        <div class="seat">17E</div>
        <div class="seat">17F</div>
      </div>

      <div class="row">
        <div class="seat">18A</div>
        <div class="seat">18B</div>
        <div class="seat">18C</div>
        <div class="space"></div>
        <div class="seat">18D</div>
        <div class="seat">18E</div>
        <div class="seat">18F</div>
      </div>

      <div class="row">
        <div class="seat">19A</div>
        <div class="seat">19B</div>
        <div class="seat">19C</div>
        <div class="space"></div>
        <div class="seat">19D</div>
        <div class="seat">19E</div>
        <div class="seat">19F</div>
      </div>

      <div class="row">
        <div class="seat">20A</div>
        <div class="seat">20B</div>
        <div class="seat">20C</div>
        <div class="space"></div>
        <div class="seat">20D</div>
        <div class="seat">20E</div>
        <div class="seat">20F</div>
      </div>

      
      <div class="screen" style="color: royalblue;">EXIT</div>
    



  <p class="text">
    You have selected <span id="count">0</span> seats for a price of $<span
      id="price"
      >0</span
    >
  </p>

  <script src="/app/userseatmap/script.js" type="text/javascript"></script> -->
