<header>
  <nav>
      <div >
          <img src="/assets/img/1logo-white.png" alt="omnifood logo" class="logo">
          <ul class="main-nav">
              <li><a [routerLink]="['/homePage']">Home</a></li>
              <li><a [routerLink]="['/aboutUsPage']">About Us</a></li>
              <li><a [routerLink]="['/searchFlightsPage']">Flights</a></li>
              <li><a [routerLink]="['/registerPage']">Register</a></li>
              <li><a [routerLink]="['/loginPage']">Login</a></li>
              <li><a [routerLink]="['/contactUsPage']">Contact Us</a></li>
          </ul>
      </div>
  </nav>
</header> 
<br> 

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
<br>
<br>
<br>
<section class="about-section mt-5">
<div class="about-section" style="background-image: url('/assets/images/userdetails.JPG');">
    <h1 style="color: coral;">Welcome To SKVM Flights</h1>
    <p style="color: darkblue;">The leading company serving its best since 2000s.</p>
</div>
</section>
  
<br>
<br>
<br>
<br>
<br>
<br>


  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="/assets/images/1.JPG" alt="skvm flight image" >
    </ng-template>  
    <ng-template carouselSlide>
      <img src="/assets/images/2.JPG" alt="skvm flight image" >
    </ng-template>  
    <ng-template carouselSlide>
      <img src="/assets/images/3.JPG" alt="skvm flight image" >
    </ng-template>
    <ng-template carouselSlide>
      <img src="/assets/images/4.JPG" alt="skvm flight image" >
    </ng-template>
    <ng-template carouselSlide>
      <img src="/assets/images/5.JPG" alt="skvm flight image" >
    </ng-template>
    <ng-template carouselSlide>
      <img src="/assets/images/6.JPG" alt="skvm flight image" >
    </ng-template>  
    <ng-template carouselSlide>
      <img src="/assets/images/7.JPG" alt="skvm flight image" >
    </ng-template>
    <ng-template carouselSlide>
      <img src="/assets/images/8.JPG" alt="skvm flight image">
    </ng-template>
  </owl-carousel-o>
  
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="row1">
    <div class="column1">
      <div class="card1">
        <p><i class="fa fa-user"></i></p>
        <h3>11+</h3>
        <p>Partners</p>
      </div>
    </div>
  
    <div class="column1">
      <div class="card1">
        <p><i class="fa fa-fighter-jet"></i></p>
        <h3>55+</h3>
        <p>Flights</p>
      </div>
    </div>
  
    <div class="column1">
      <div class="card1">
        <p><i class="fa fa-smile-o"></i></p>
        <h3>100+</h3>
        <p>Happy Clients</p>
      </div>
    </div>
  
    <div class="column1">
      <div class="card1">
        <p><i class="fa fa-users"></i></p>
        <h3>100+</h3>
        <p>Crew Members</p>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>


  
<section class="section-meals">
  <ul class="meals-showcase clearfix">
      <li>
          <figure class="meal-photo">
              <img src="/assets/img/1.jpg" alt="Korean bibimbap with egg and vegetables">
          </figure>
      </li>
      <li>
          <figure class="meal-photo">
              <img src="/assets/img/2.jpg" alt="Korean222 bibimbap with egg and vegetables">
          </figure>
      </li>
      <li>
          <figure class="meal-photo">
              <img src="/assets/img/3.jpg" alt="Korean333 bibimbap with egg and vegetables">
          </figure>
      </li>
      <li>
          <figure class="meal-photo">
              <img src="/assets/img/4.jpg" alt="Korean444 bibimbap with egg and vegetables">
          </figure>
      </li>
  </ul>
  <ul class="meals-showcase clearfix">
      <li>
          <figure class="meal-photo">
              <img src="/assets/img/5.jpg" alt="Korean 5555bibimbap with egg and vegetables">
          </figure>
      </li>
      <li>
          <figure class="meal-photo">
              <img src="/assets/img/6.jpg" alt="Korean66666bibimbap with egg and vegetables">
          </figure>
      </li>
      <li>
          <figure class="meal-photo">
              <img src="/assets/img/7.jpg" alt="Korean7777 bibimbap with egg and vegetables">
          </figure>
      </li>
      <li>
          <figure class="meal-photo">
              <img src="/assets/img/8.jpg" alt="Korean8888 bibimbap with egg and vegetables">
          </figure>
      </li>
  </ul>
</section>

<br>
<br>
<br>
<br>

  <h2 style="text-align:center">Happy Customers</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/images/nilesh.jpg" alt="Sid" style="width:100%">
        <div class="container">
          <h2>Siddharth Malhotra</h2>
          <div class="rating">
                        <i class="fa fa-star" style="color: yellow;"></i>
                        <i class="fa fa-star" style="color: yellow;"></i>
                        <i class="fa fa-star" style="color: yellow;"></i>
                        <i class="fa fa-star" style="color: yellow;"></i>
                        <i class="fa fa-star" style="color: yellow;"></i>
                    </div>
          <p class="title">Clear pricing and always get best deals...</p>
          <p>Clear pricing and always get best deals to Mumbai. Clear support for any changes or questions with flights.

            You will be glad you used them.</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/images/kriti.jpg" alt="Kat" style="width:100%">
        <div class="container">
          <h2>Katrina Kaif</h2>
          <div class="rating">
            <i class="fa fa-star" style="color: yellow;"></i>
                        <i class="fa fa-star" style="color: yellow;"></i>
                        <i class="fa fa-star" style="color: yellow;"></i>
                        <i class="fa fa-star" style="color: yellow;"></i>
                        <i class="fa fa-star" style="color: yellow;"></i>
        </div>
          <p class="title">I highly recommend this site because...</p>
          <p>I highly recommend this site because of their great customer service. Flightsbird make my journey hassle free & I got a better price than booking directly with the airline. Keep up the good work.</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/images/Hrithik.jpg" alt="Hrithik" style="width:100%">
        <div class="container">
          <h2>Hrithik Roshan</h2>
          <div class="rating">
            <i class="fa fa-star" style="color: yellow;"></i>
                        <i class="fa fa-star" style="color: yellow;"></i>
                        <i class="fa fa-star" style="color: yellow;"></i>
                        <i class="fa fa-star" style="color: yellow;"></i>
                        <i class="fa fa-star" style="color: yellow;"></i>
        </div>
          <p class="title">Best website for cheap travel...</p>
          <p>I travel a lot and I’ve used various companies to book my ticket online. Last time I used flights.com and I can say for sure – I’m never using anything else! This is by far the best website to find cheap airline tickets. It took me less than five minutes to book my Christmas tickets and I was also able to save money on them!</p>
        </div>
      </div>
    </div>
  </div>


<br>
<br>
<br>
<br>


<h2 style="text-align:center">Our Blog</h2>
<div class="container">
  <img src="/assets/images/boy-avatar.jpg" alt="Avatar" style="width:90px">
  <p><span>Ranbir Kapoor.</span> Manager at HP.</p>
  <p>This website is so damn cool. I just love it! Plus he flight service ia amazing.</p>
</div>

<div class="container">
  <img src="/assets/images/girl-avatar.jpg" alt="Avatar" style="width:90px">
  <p><span >Alia Bhatt.</span><br> Fashion Designer.</p>
  <p>OMG I just loved my trip to Banglore. I had a show and I had end moment booking so the website helped me.</p>
</div>




  </body>
 