<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


</head>

<header>
    <nav>
        <div class="row">
            <a [routerLink]="['/adminDashboardPage']"><img src="/assets/img/admin.JPG" alt="Admin Logo" class="logo"></a>
            <ul class="main-nav">
                <li><a [routerLink]="['/addFlightsPage']">Add Flights</a></li>
                <li><a [routerLink]="['/updateFlightsPage']">Update Flights</a></li>
                <li><a [routerLink]="['/viewAllFlightsPage']">View All Flights</a></li>
                <li><a [routerLink]="['/adminViewBookingPage']">Bookings</a></li>
                <li><a [routerLink]="['/viewAllUsersPage']">Users</a></li>
                <li><a [routerLink]="['/homePage']">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<br>
<br>
<br>

<section class="section-form">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="row">
                <div class="main">
                    <div class="card">
                        <h2 style="text-align: center;">Active Bookings</h2>
                            <table border="2">
                                <th>Booking Id</th>
                                <th>Number Of Passengers</th>
                                <th>Book Date</th>
                                
                                <tr *ngFor="let booking of bookings">
                                    <td><a href="javascript:void(0);" (click)="viewticket(booking.booking_id)">{{booking.booking_id}}</a></td>
                                    <td>{{booking.noOfPassengers}}</td>
                                    <td>{{booking.bookDate}}</td>
                                    
                                    
                                    
                                </tr>
                            </table><br><br>
                            <h2 style="text-align: center;">Cancelled</h2>
                            <table border="2">
                                <th>Booking Id</th>
                                <th>Number Of Passengers</th>
                                <th>Book Date</th>
                                
                                <tr *ngFor="let booking of bookingscan">
                                    <td><a href="javascript:void(0);" (click)="viewticket(booking.booking_id)">{{booking.booking_id}}</a></td>
                                    <td>{{booking.noOfPassengers}}</td>
                                    <td>{{booking.bookDate}}</td>
                                    
                                    
                                    
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>


