header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url(/assets/img/gettyimages-1012124606-612x612.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(/assets/img/gettyimages-1012124606-612x612.jpg);
    background-size: cover;
    background-position: center;
    height: 20vh;
    background-attachment: fixed;
    
  }

  button{
    background-color: orange;
    
    width: 250px;
    float: right;
  }
  table {
    font: normal 500 23px/ 30px ;
    border-collapse: collapse;
    width: 100%;
    }
    
    td, th {
    border: 2px solid orange;
    text-align: left;
    padding: 8px;
    
    }
    
    tr{
    background-color: silver;
    }
    .head{
    background-color: white;
    }
    tr:nth-child(even) {
    background-color: lightgray;
    }
    .centertable {
    margin-left:auto; 
    margin-right:auto;
    }