<header>
  <nav>
      <div class="row">
          <img src="/assets/img/1logo-white.png" alt="omnifood logo" class="logo">
          <ul class="main-nav">
              <li><a [routerLink]="['/userDashboardPage']">Dashboard</a></li>
              <li><a [routerLink]="['/userProfilePage']">Profile</a></li>
              <li><a [routerLink]="['/userSearchFlightsPage']">Flights</a></li>
              <li><a [routerLink]="['/userBookingsPage']">Bookings</a></li>
              <li><a [routerLink]="['/userCancellationsPage']">Cancellations</a></li>
              <li><a [routerLink]="['/userWalletPage']">Wallet</a></li>
              <li><a [routerLink]="['/homePage']" href="javascript:void(0);" (click)="logout()">Logout</a></li>
          </ul>
      </div>
    </nav>
</header>

<table class="styled-table">
<thead>
  <tr>
    <th>Booking Id</th>
    <th>Number Of Passengers</th>
    <th>Book Date</th>
    <th>Status</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let booking of bookings">
    <td>{{booking.booking_id}}</td>
    <td>{{booking.noOfPassengers}}</td>
    <td>{{booking.bookDate}}</td>
    <td style="color: red;">Cancelled</td>
    
</tr>
  <!-- and so on... -->
</tbody>
</table>
