<div class="modal two-button border full-screen">
    <a aria-label="Close Account Info Modal Box" class="btn-close btn-close-modal"></a>
    <div class="form-description">
      <h2>Cancellation Confirmation</h2>
      <div class="details-wrapper">
        <p>Are you sure you want to cancel this flight?</p>
      </div>
    </div>
    <div class="button-wrapper">
      <button class="submit cta primary"><span class="lg">Yes Cancel</span></button>
        <button class="submit cta secondary"><span class="lg">No thanks </span></button>
    </div>
  </div>