<header>
    <nav>
        <div class="row">
            <img src="/assets/img/1logo-white.png" alt="omnifood logo" class="logo">
            <ul class="main-nav">
                <li><a [routerLink]="['/homePage']">Home</a></li>
                <li><a [routerLink]="['/aboutUsPage']">About Us</a></li>
                <li><a [routerLink]="['/searchFlightsPage']">Flights</a></li>
                <li><a [routerLink]="['/registerPage']">Register</a></li>
                <li><a [routerLink]="['/loginPage']">Login</a></li>
                <li><a [routerLink]="['/contactUsPage']">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    </header>
    <div class="box">
        <h2>Enter Registered Email</h2>
        <form #forgotForm="ngForm" (ngSubmit)="sendOTP()">
          <label for="email"><b>Email</b></label>
          <div class="inputBox">
            <input id="email" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9-]+\.[a-z]{2,4}$" [(ngModel)]="otp.email" placeholder="Eg. example@email.com" #email='ngModel' required>
            <div *ngIf="(email.dirty||email.touched) && email.invalid" style="color: red;border-color: red;">
                <div *ngIf="email.errors.required"> Email is Required</div>
                <div *ngIf="email.errors.pattern">Invalid Email</div>
            </div>
          </div>
          <button type="submit">Send OTP</button>    
         
        </form>
      </div>