<header>
    <nav>
        <div class="row">
            <img src="/assets/img/1logo-white.png" alt="omnifood logo" class="logo">
            <ul class="main-nav">
                <li><a [routerLink]="['/homePage']">Home</a></li>
                <li><a [routerLink]="['/aboutUsPage']">About Us</a></li>
                <li><a [routerLink]="['/searchFlightsPage']">Flights</a></li>
                <li><a [routerLink]="['/registerPage']">Register</a></li>
                <li><a [routerLink]="['/loginPage']">Login</a></li>
                <li><a [routerLink]="['/contactUsPage']">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    </header>
    <div class="box">
        <h2>Reset Password</h2>
        <form #pwd="ngForm" (ngSubmit)="updatePassword(newpwd.password)">
            <label for="psw"><b>New Password</b></label>
            <div class="inputBox">
              <input type="password" #pwd='ngModel' pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" placeholder="Enter Password" name="psw" id="psw" required [(ngModel)]="newpwd.password"><br>
              <div *ngIf="pwd.invalid && (pwd.dirty||pwd.touched)" style="color: red;">
                <div *ngIf="pwd.errors.required">password is required</div>
                <div *ngIf="pwd.errors.pattern">password is invalid</div>
              </div>
            </div>
            
          <button type="submit">Reset Password</button>    
         
        </form>
      </div>